/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/04/2016, 15:04:02
    Author     : AX4B
*/

div#interface {
    background: #FFD700;
    width: 900px;
    height: 1000px;
    margin: -20px/*direita*/auto/*baixo*/0px/*esquerda*/auto;
    box-shadow: /*Deslocamento lateral*/0px /*Deslocamento vertical*/0px /*Espalhamento da sombra*/10px /*Cor da sombra*/rgba(0,0,0,.5);
    padding: 10px/*como todas as margens sao de 10px o parametro é passado uma unica vez*/;
}

header#cabecalho{
    border-bottom:/*largura*/1px /*cor*/#606060 /*formato da borda*/solid;/*linha do cabeçalho*/
    height: 150px;
}

header#menuDinamico{
    border-bottom:/*largura*/1px /*cor*/#606060 /*formato da borda*/solid;/*linha do cabeçalho*/
    height: 100px;
    background: #FF0000;
}

section#corpo {
    width: 710px;
    height: 680px;
    margin: 10px/*direita*/150px/*baixo*/0px/*esquerda*/170px;
    box-shadow: /*Deslocamento lateral*/0px /*Deslocamento vertical*/0px /*Espalhamento da sombra*/1px /*Cor da sombra*/rgba(0,0,0,10);
    padding: 10px/*como todas as margens sao de 10px o parametro é passado uma unica vez*/;
}

footer#rodape p{
        text-align: center;/*centralizando paragrafo*/
}

aside#menuLateral{
    display: block;/*Mostrar a aside como um block*/
    width: 50px;
    float: left;/*flutua para o bloco para o lado direito*/
    padding: 10px;
    margin-top: -710px;
    margin-right: 3px;
    padding-bottom: 0px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 150px;
}

li ul {
    position: absolute;
    left: 149px;
    top: 0;
    display: none;
}

ul li a {
    display: block;
    text-decoration: none;
    color: #FFFF00;
    background: #FF0000;
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
}

